<form class="row g-3" action="javascript:void(0);">
        <div class="col-12">
            <input class="form-control form-control-lg"
                type="text" 
                placeholder="Enter a place" 
                aria-label=".form-control-lg example"
                #placeNameInput>
        </div>
        <div class="col-12">
            <input
                class="form-control form-control-lg"
                type="text"
                placeholder="Enter code"
                #placeCodeInput>
        </div>
        <div class="col-12">
            <input 
                type="text"
                class="form-control form-control-lg"
                placeholder="Enter location"
                #placeLocationInput>
        </div>
        <div class="col-12">
            <button type="submit"
                class="btn btn-primary"
                (click) = "onSubmitPlace()"
                style="margin-left:5px;"
                >Add</button>        
            <button type="button"
                class="btn btn-secondary"
                style="margin-left:5px;">Cancel</button>
        
        </div>

    </form>
