<form action="javascript:void(0);">
    <div class="col">
        <div class="mb-3">
            <input class="form-control form-control-lg"
                type="text" 
                placeholder="Enter a place" 
                aria-label=".form-control-lg example"
                #placeNameInput>
        </div>
        <div class="mb-3">
            <input
                class="form-control form-control-lg"
                type="text"
                placeholder="Enter code"
                #placeCodeInput>
        </div>
        <div class="mb-3">
            <input 
                type="text"
                class="form-control form-control-lg"
                placeholder="Enter location"
                #placeLocationInput>
        </div>
        <div class="mb-3">
            <button type="submit"
                class="btn btn-primary mr-1"
                (click) = "onSubmitPlace()"
                >Add</button>        
            <button
                class="btn btn-secondary mr-1">Cancel</button>
        
        </div>

    </div>
    </form>
