<div class="row p-3" *ngIf="mode === 'show'">
  <div class="col">
    <div class="input-group">
      <input 
        type="text" 
        class="form-control" 
        placeholder="Place's name" 
        aria-label="Recipient's username" 
        aria-describedby="button-addon2"
        #placeNameSearchInput>
      <button 
        class="btn btn-outline-secondary" 
        type="button" 
        id="button-addon2"
        (click) = "onSearch()">Search</button>
    </div>
  </div>
</div>
<div class="row p-3" *ngIf="mode === 'edit'">
  <form action="">
    <div class="col">
      <div class="mb-3">
        <input class="form-control form-control-lg" type="text" placeholder="Enter a place" aria-label=".form-control-lg example">
      </div>
      <div class="mb-3">
        <button
          class="btn btn-secondary float-end mr-1">Cancel</button>
        
        <button type="submit"
          class="btn btn-primary float-end mr-1"
          (click) = "onClickAddPlace()"
          >Add</button>        
      </div>

    </div>
  </form>
</div>


<div class="row p-5">
  <div class="col">
    <ul class="list-group list-group-flush">
      <li 
        *ngFor="let place of places; index as i"
        class="list-group-item"
        (click) = "onClickPlace($event)"
        [attr.data-code] = "place.code"
      >{{ place.name }}</li>
    </ul>
  </div>
</div>