<div class="container-fluid">
  <div class="row">
    <div class="col">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" 
                href="#"
                (click)="onSelect('main')">
                Main
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
              href="#"
              (click)="onSelect('places')">
              Places
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
              href="#"
              (click)="onSelect('stations')">
              Stations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Stairs</a>
          </li>
        </ul>
    </div>
  </div>

  <div class="row" *ngIf="choiceSelected === 'main'">
    <div class="col">
      <div class="alert alert-primary" role="alert">
        Main
      </div>
    </div>
  </div>



  <div class="row" *ngIf="choiceSelected === 'stations'">
    <div class="col">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">stations</h4>
        <p></p>
        <p class="mb-0"></p>
      </div>
    </div>
  </div>

  <app-places *ngIf="choiceSelected === 'places'"></app-places>

</div>